{% extends 'base/principal.html' %}

{% block content %}
    <div class="barra-superior">
        <h2>Lista Etiquetas</h2>
        <a class="volver" href="{% url 'tareas' %}">&#x1F830; Volver</a>
    </div>
    <div class="barra-admin">
        <a href="{% url 'crear-etiqueta' %}">Crear Etiqueta</a>
    </div>
    <div class="envoltorio-items-tarea">
        {% for etiqueta in etiquetas %}
            <div class="envoltorio-tarea">
                <div class="titulo-tarea">
                    <i><a href="{% url 'editar-etiqueta' etiqueta.id %}" >{{etiqueta}}</a></i>
                </div>
                <a class="eliminar" href="{% url 'eliminar-etiqueta' etiqueta.id %}">&#x2A2F;</a>
            </div>
        {% empty %}
            <h3>No hay elementos en esta lista</h3>
        {% endfor %}
    </div>

{% endblock content %}