{% extends 'base/principal.html' %}
{% block content %}

<div class="barra-superior">
    <div>
        <h1>Hola {{request.user|title}}</h1>
        <h3 style="margin:0">Tienes <i>{{count}}</i> tarea{{count|pluralize}} incompleta{{count|pluralize}} </h3>
    </div>
    {% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="submit" value="Cerrar sesión">
    </form>
    {% else %}
    <a href="{% url 'login' %}">Ingresar</a>
    {% endif %}
    <div>
        {% if user.is_superuser %}
            <a href="{% url 'categoria-lista' %}">Categorias</a>
            <a href="{% url 'etiqueta-lista' %}">Etiquetas</a>


        {% endif %}
    </div>
</div>
<div class="envoltorio-crear-buscar">
    <form method="GET" style="display: flex;">
        <input type="text" name="area-buscar" value="{{valor_buscado}}">

        <!-- Filtro por Categoría -->
        <select name="categoria">
            <option value="">Todas las categorías</option>
            {% for categoria in categorias %}
                 <option value="{{ categoria.id }}" {% if categoria.id == categoria_id %}selected{% endif %}>
                    {{ categoria.nombre }}
                </option>
            {% endfor %}
        </select>

        <!-- Filtro por Etiqueta -->
        <select name="etiqueta">
            <option value="">Todas las etiquetas</option>
            {% for etiqueta in etiquetas %}
                <option value="{{ etiqueta.id }}" {% if etiqueta.id == etiqueta_id %}selected{% endif %}>
                    {{ etiqueta.nombre }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Buscar">
    </form>
    <a class="enlace-crear" href="{% url 'crear-tarea' %}">&#x1F7A5;</a>
</div>


<div class="envoltorio-items-tarea">
    {% for tarea in tareas %}
    <div class="envoltorio-tarea">
        {% if tarea.completo %}
        <div class="titulo-tarea">
            <div class="icono-tarea-completa"></div>
            <i><s><a href="{% url 'editar-tarea' tarea.id %}" >{{tarea}}</a></s></i>
        </div>
        <a class="eliminar" href="{% url 'eliminar-tarea' tarea.id %}">&#x2A2F;</a>
        {% else %}
        <div class="titulo-tarea">
            <div class="icono-tarea-incompleta"></div>
            <a href="{% url 'editar-tarea' tarea.id %}" >{{tarea}}</a>
        </div>
        <a class="eliminar" href="{% url 'eliminar-tarea' tarea.id %}">&#x2A2F;</a>
        {% endif %}
    </div>
    {% empty %}
    <h3>No hay elementos en esta lista</h3>

    {% endfor %}
</div>

{% endblock content %}